@import 'vars.styl'
@import '../breakpoints/_index.styl'

for $breakpoint, $breakpoint-value in $screen-breakpoints
  @media screen and (min-width: $breakpoint-value)
    for $value in $display-values
      .{$display-prefix}-{$breakpoint}-{$value}
        display: $value

