@import 'vars.styl'
@import '../breakpoints/_index.styl'

for $breakpoint, $breakpoint-value in $screen-breakpoints
  @media screen and (min-width: $breakpoint-value)
    for $size, $margin-value in $margin-sizes
      .ma-{$breakpoint}-{$size}
          margin: $margin-value
      .mt-{$breakpoint}-{$size}
        margin-top: $margin-value
      .mb-{$breakpoint}-{$size}
        margin-bottom: $margin-value
      .ml-{$breakpoint}-{$size}
        margin-left: $margin-value
      .mr-{$breakpoint}-{$size}
        margin-right: $margin-value
