@import 'vars.styl'

for $size, $margin-value in $margin-sizes
  .ma-{$size}
    margin: $margin-value
  .mt-{$size}
    margin-top: $margin-value
  .mb-{$size}
    margin-bottom: $margin-value
  .ml-{$size}
    margin-left: $margin-value
  .mr-{$size}
    margin-right: $margin-value
