@import 'vars.styl'
@import '../breakpoints/_index.styl'

for $breakpoint, $breakpoint-value in $screen-breakpoints
  @media screen and (min-width: $breakpoint-value)
    for $align, $value in $align-self-values
      .{$align-self-prefix}-{$breakpoint}-{$align}
        align-self: $value
