@import 'vars.styl'

for $size, $padding-value in $padding-sizes
  .pa-{$size}
    padding: $padding-value
  .pt-{$size}
    padding-top: $padding-value
  .pb-{$size}
    padding-bottom: $padding-value
  .pl-{$size}
    padding-left: $padding-value
  .pr-{$size}
    padding-right: $padding-value
