$padding-prefix ?= 'p'
$padding-directions ?= {
  'a': 'padding',
  't': 'padding-top',
  'b': 'padding-bottom',
  'l': 'padding-left',
  'r': 'padding-right'
}
$padding-sizes ?= {
  '0': 0,
  '1': 0.12em,
  '2': 0.25em,
  '3': 0.5em,
  '4': 1em,
  '5': 1.5em
}
